section > div {
	margin: 10px;
	padding: 10px;

}
.painel{
    background-color:rgba(211, 211, 211, 0.5);
    box-sizing: border-box;
    display: table;
    float:left;
	/*duração da transição quando tirar o mause*/
	transition-duration: 0.5s;
	border-radius: 30px;
}
.painel:hover{
	background-color:rgba(211, 211, 211, 1);
	transition-duration: 0.5s;
}

body {
	background-image:url(http://www.fiestazteca.com/sitebuilder/images/red-grunge-background-900x663.jpg);
}

h1 {
	color: #fff;
}
